* {
  margin: 0;
  padding: 0;

}

ul, li {
  list-style: none;
}
img {
  border: 0;
}
a{
  text-decoration: none;
}

#wrap {
  width: 100%;
}
/*! 헤더 영역 */
#header {
  width: 100%;
  height: 80px;
  background-color: white;
  position: sticky;
  top: 0;
}

/* #header_in {
margin: 0 auto;
width: 120px;
height: 100px;
background-color: yellow;
} */


#header_in {
  margin: 0 auto;
  width: 1200px;
  height: 100px;
  /* background-color: yellow; */
  display: flex;
  }

#header .logo img {
  margin-top: 30px;
  margin-right: 80px;
}

#header ul {
  display: flex;
  text-indent: 40px;
  margin-top: 30px;

}

#header ul li a {

  text-decoration: none;
  color: black;
  font-weight: 700;
}

/*! 메인영역 */



#advice {
  width: 100%;
  height: 750px;
  background-color: violet;
  background-image: url(images/bg_main_sect1.jpg);
  background-size: 1600px;
}

#advice_h {
  margin: 0 auto;
  width: 1200px;
  height: 260px;
  /* background-color: brown; */
}

#advice_h .tit .tit_im1 {
  margin-top: 50px;
  width: 200px;
  margin-left: 500px;

}

#advice_h .tit .tit_im2 {
  width: 200px;
  margin-left: 500px;
  margin-top: 50px;
}

#advice_b {
  margin: 0 auto;
  width: 1200px;
  height: 490px;
  /* background-color: pink; */
}

#advice_b {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

#advice_b article img {
  height: 490px;
  display: flex;
}

#advice_b .ico .ico1 {
  width: 230px;
  height: 250px;
  margin-left: 8px;
  color: white;
  background-color: #58D3F7;
  border-radius: 8px;
}

#advice_b .ico .ico2 {
  width: 230px;
  height: 250px;
  margin-left: 8px;
  color: white;
  background-color: #00BFFF;
  border-radius: 8px;
}


#advice_b .ico .ico3 {
  width: 230px;
  height: 250px;
  margin-left: 8px;
  color: white;
  background-color: #2E9AFE;
  border-radius: 8px;
}

#advice_b .ico .ico1 .ic_text {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#advice_b .ico .ico1 .ic_img {
  display: flex;
  justify-content: center;
  margin-left: 75px ;
  margin-top: 15px;
}

#advice_b .ico .ico1 .ic_text2 {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

#advice_b .ico .ico2 .ic_text {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#advice_b .ico .ico2 .ic_img {
  display: flex;
  justify-content: center;
  margin-left: 65px ;
  margin-top: 15px;
}

#advice_b .ico .ico2 .ic_text2 {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
#advice_b .ico .ico3 .ic_text {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#advice_b .ico .ico3 .ic_img {
  display: flex;
  justify-content: center;
  margin-left: 65px ;
  margin-top: 15px;
}

#advice_b .ico .ico3 .ic_text2 {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}


#advice_b .ico {
  display: flex;
  margin-left: 8px;
  
}

#advice_b .nav {
  display: flex;
  flex-wrap: wrap;
  
}



#search {
  width: 100%;
  height: 750px;
  background-color: aquamarine;
  background-image: url(images/bg_main_sect2.jpg);
  background-size: 1600px;
}
#search_h {
  margin: 0 auto;
  width: 1200px;
  height: 260px;
  /* background-color: brown; */
}

#search_h .tit .tit_im1 {
  margin-top: 50px;
  width: 250px;
  margin-left: 500px;

}

#search_h .tit .tit_im2 {
  width: 250px;
  margin-left: 500px;
  margin-top: 50px;
}


#search_b {
  margin: 0 auto;
  width: 1200px;
  height: 490px;
  /* background-color: pink; */
}

#search_b .all {
  background-color: white;
  height: 200px;
  border-radius: 8px;
  width: 650px;
}


#search_b .sear {
  background-color: #A5BDC6;
  height: 40px;
  display: flex;
  align-items: center;

  width: 650px;
  
}

#search_b .sear p {
  margin-left: 20px;
  color: white;
}

#search_b h2 {
  font-size: 15px;
  background-color: white;
  margin-top: 30px;
  margin-left: 20px;
  width: 500px;
}


#search_b .sel {
  display: flex;  
  background-color: white;
  width: 500px;
  margin-top: 10px;
  margin-left: 10px;
}

#search_b .ops {
  width: 150px;
  height: 40px;
  margin: 0px 10px;
  
}

#search_b .butt {
  color: white;
  background-color: red;
  width: 150px;
  border:none;
  border-radius: 5px;
  font-weight: 900;
  
}


#search_b section {
  display: flex;
}

#search_b .nav .car {
  background-color: #5E9C54;
  width: 210px;
  margin-top: 10px;
  height: 270px;
  border-radius: 6px;
}

#search_b .nav .win {
  background-color: #088A08;
  width: 210px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 6px;
}

#search_b .nav .sto {
  background-color: #04B4AE;
  width: 210px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 6px;
}

#search_b .nav h1 {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 30px;
}

#search_b .nav img {
  margin-left: 70px;
  margin-top: 10px;
}

#search_b .img_f {
  display: flex;
  flex-wrap: wrap;
}

#search_b .nav .img_fd {
  display: flex;
  height: 270px;
  flex-direction: column-reverse;

} 

#search_b .nav .img_fd_b {
  height: 470px;
}

#news {
  width: 100%;
  height: 750px;
  /* background-color: blue; */
  background-image: url(images/bg_main_sect3.jpg);
  background-size: 1600px;
}

#news_h {
  margin: 0 auto;
  width: 1200px;
  height: 260px;
  /* background-color: brown; */
}

#news_h .tit .tit_im1 {
  margin-top: 50px;
  width: 200px;
  margin-left: 500px;

}

#news_h .tit .tit_im2 {
  width: 200px;
  margin-left: 500px;
  margin-top: 50px;
}



#news_b {
  margin: 0 auto;
  width: 1200px;
  height: 490px;
  /* background-color: pink; */
}

#news_b .img_all {
  display: flex;
}

#news_b .img_st {
  width: 350px;
}

#news_b article img {
  height: 140px;
  width: 250px;
}

#news_b article {
  border: 1px solid gainsboro ;
  border-radius: 8px;
  width: 250px;
  margin: 0 10px;
  font-size: 13px;
  background-color: white;
}

#news_b article h3 {
  margin: 12px ;
}

#news_b article p {
  margin: 12px ;
}
#news_b article .p_f {
  margin-top: 30px;
  font-weight: 900;
}

#news_b article span {
  color: #04B4AE;
}


#news_b img {
  width: 200px;
}

#news_b .img_p2 {
  display: inline-flex;
  height: 130px;

}

#news_b .img_p2 .img_f2 { 
  display: inline-flex;
  align-items: center;
  width: 350px;
  border: 1px solid gainsboro;
  border-radius: 8px;
  background-color: white;
  margin: 5px 10px;
  height: 125px;
  
}

#news_b .img_p2 .img_f1 { 
  display: inline-flex;
  align-items: center;
  background-color: white;
  width: 350px;
  border: 1px solid gainsboro;
  border-radius: 8px;
  margin-top: 5px;
}



#news_b .img_p2 img {
  width: 100px;
}

#news_b .img_p2 h2 {

  margin-left: 20px;
}

#news_b .img_p2 p {
  font-size: 15px;
  width: 250px;
  margin: 0;
  margin-left: 20px;
  margin-top: 5px;
}


#news_b section form {
  border: 1px solid gainsboro;
  height: 125px;
  width: 425px;
  margin-top: 5px;
  border-radius: 8px;
  background-color: aliceblue;
}

#news_b section form .butt {
  width: 90px;
  height: 20px;
}

#news_b section form h1 {
  margin: 15px 0px 5px 20px;
  font-size: 22px;
}

#news_b section form .butt1 {
  width: 90px;
  height: 20px;
  margin-left: 20px;
}

#news_b section form select {
  width: 100px;
  height: 24px;
}

#news_b section .check {
  margin-left: 20px;
  margin-top: 15px;
  
}

#news_b section span {
  color: gray;
  font-size: 13px;
}

#news_b section .butt_f {
  background-color: #58D3F7;
  border: none;
  color: white;
  width: 70px;
  height: 30px;
  margin-top: 5px;
}


#board {
  width: 100%;
  height: 750px;
  background-color: orange;
  /* background-image: url(images/bg_main_sect4.jpg);
  background-size: 1600px; */
}

#board_h {
  margin: 0 auto;
  width: 1200px;
  height: 260px;
  background-color: brown;
}

#board_h .tit .tit_im1 {
  margin-top: 50px;
  width: 200px;
  margin-left: 500px;

}

#board_h .tit .tit_im2 {
  width: 200px;
  margin-left: 500px;
  margin-top: 50px;
}

#board_b {
  margin: 0 auto;
  width: 1200px;
  height: 490px;
  background-color: pink;
}
/*! 푸터영역 */
#footer {
  width: 100%;
  height: 260px;
  background-color: yellowgreen;
}

